.App {
  display: flex;  
  justify-Content: center;
  align-Items: center;
  flex-direction: column;
  margin: 25px;
  padding-top: 100px;
  padding-bottom: 75px;
  padding-left: 25px;
  padding-right: 25px;
  width: 100%;
  border-radius: 25px;
  background-color: white;
  min-height: 100vh;
}

.Header-div {
  display: flex;  
  justify-Content: center;
  align-Items: center;
  flex-direction: column;
  padding-bottom: 10px;
}

.Header-one {
  padding: 0px;
  margin: 0px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
